
@use './reset.scss';
@use './components/index';
@use './fonts';
@use './variables';
@use './mixins' as *;

body {
    background: var(--cream);
}

main {
@include place-center;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    font-family: var(--heading-family);
    font-size: var(--heading-size);
    font-weight: 700;
    color: var(--very-dark-blue);
}

p {
    font-size:var(--body-size);
    font-family:  var(--body-family);
    color: var(--grayish-blue);
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  ::selection {
    background-color: var(--darker-cyan);
    color: var(--white);
  }

  .attribution {
    background-color: hsl(157deg 23.16% 48.71% / 7%);
    padding-block:1rem;
    font-family: var(--body-family);
    font-size: var(--body-size-small);
    color: var(--darker-cyan);
    font-weight:bold;
    text-align: center;
    text-transform:uppercase;
    a {
        font-weight:bold;
        color:var(--dark-cyan);
    }
     }